[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

selenium = "==3.8.0"
pillow = "==4.3.0"
unicode-slugify = "==0.1.3"
"beautifulsoup4" = "*"
"urllib3" = "*"
tldextract = "*"
flask = "*"


[dev-packages]

jupyter = "*"
