<!DOCTYPE html>
<html lang=en>

  {% include 'head.html' %}

  <body>
  <!-- header -->

    <main class="page-content pb-5" aria-label="Content">
        <nav class="navbar sticky-top navbar-light bg-white-alpha">
            <h1 class="pt-2 pb-2">Headline Tracker</h1>
          <!-- <a class="navbar&#45;brand" href="#">Headline Tracker</a> -->
        </nav>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">

            <!-- body -->
            {% block body %}{% endblock %}
          </div>
        </div>

      </div>
    </main>
  <!-- footer -->

  </body>

</html>
