{% extends 'default.html' %}

{% block body %}
{{ super() }}

<div class="row">
  <div class="col-12">
    <p>

    </p>
  </div>

    {% for pubname, images in pubs.items() %}
  <div class="col-12 pt-3">
    <figure class="cropped-image">
      <a href="{{ images.original.path }}">
        <img class="img-fluid mx-auto d-block pb-2"
             src="{{ images.cropped.path }}">
      </a>

     <figcaption class="cropped-image-caption" >
       Fetched from <a href="{{ images.url }}">{{ images.url }}</a> at {{ images.cropped.date | formattime }}. <a href="{{ images.original.path }}">View original</a>
     </figcaption>

    </figure>

  </div>
    {% endfor %}
</div>
{% endblock %}
