{% extends 'default.html' %}

{% block body %}
{{ super() }}

<div class="row">
  <div class="col-12">
    <p>
      Headline tracker is a simple application that scrapes headlines from several major news publications daily. Can you guess the organizations which the headlines belong to?
    </p>

  </div>


    {% for pubname, images in pubs.items() %}
  <div class="col-12">
    <figure class="cropped-image">
      <img class="img-fluid mx-auto d-block pb-2"
           src="{{ images.cropped.path }}">

     <figcaption class="cropped-image-caption" >
       Fetched from <a href="{{ images.url }}">{{ images.url }}</a> at {{ images.cropped.date | formattime }}. <a href="{{ images.original.path }}">View original</a>
     </figcaption>

    </figure>

  </div>
    {% endfor %}
</div>
{% endblock %}
